# Dependencies (Library handled separately)
qcd/
# Build artifacts
build/
tmp/
*.o
*.so
*.a
*.out
# Editor/IDE
*.swp
.nbproject/
# Logs and data
log/
dat/
# backup files
*~
# Matlab / Octave
*.asv
# OS files
.DS_Store
# LaTeX Specific
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.toc
*.synctex.gz